<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Stem Facts"].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:55:47Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Tell Me More!"].tapWithOptions({tapCount:"151"})</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:55:47Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectOnScreenWithName("{origin:{x:0.00,y:0.00}, size:{height:667.00,width:375.00}}", UIScreen, "StemAlert.png")</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:56:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>StemAlert.png</string>
			<key>Screenshot</key>
			<string>794CE9ED-1311-4B85-8C6B-F02CBB3CA42A</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:56:19Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectOnScreenWithName("{origin:{x:0.00,y:0.00}, size:{height:667.00,width:375.00}}", UIScreen, "All Done!.png")</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:56:20Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>All Done!.png</string>
			<key>Screenshot</key>
			<string>52A3C103-41CA-4FB7-8C82-7306EDC165E4</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:56:20Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()["OK"].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:56:22Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:56:22Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0].scrollToVisible()</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:56:22Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] - scrollToVisible cannot be used on the element because it does not have a scrollable ancestor.</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:56:23Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] - scrollToVisible cannot be used on the element because it does not have a scrollable ancestor.</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:56:23Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] could not be tapped because the element is not visible</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:56:23Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Engineering Memes"].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:56:23Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Tell Me More!"].tapWithOptions({tapCount:"151"})</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:56:24Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectOnScreenWithName("{origin:{x:0.00,y:0.00}, size:{height:667.00,width:375.00}}", UIScreen, "EngineeringMemeAlert.png")</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:56:55Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>EngineeringMemeAlert.png</string>
			<key>Screenshot</key>
			<string>11973740-E032-48DD-8145-8BDE178C0EF4</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:56:56Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectOnScreenWithName("{origin:{x:0.00,y:0.00}, size:{height:667.00,width:375.00}}", UIScreen, "All Done!.png")</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:56:57Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>All Done!.png</string>
			<key>Screenshot</key>
			<string>16583FD0-5340-4735-B34B-56A0DF7C2A7A</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:56:57Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()["OK"].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:56:59Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:56:59Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0].scrollToVisible()</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:56:59Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] - scrollToVisible cannot be used on the element because it does not have a scrollable ancestor.</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:57:00Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] - scrollToVisible cannot be used on the element because it does not have a scrollable ancestor.</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:57:00Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] could not be tapped because the element is not visible</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:57:00Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Random Facts"].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:57:00Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Tell Me More!"].tapWithOptions({tapCount:"406"})</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:57:00Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectOnScreenWithName("{origin:{x:0.00,y:0.00}, size:{height:667.00,width:375.00}}", UIScreen, "RandomFactsAlert.png")</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:58:25Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>RandomFactsAlert.png</string>
			<key>Screenshot</key>
			<string>2C6E935E-0E65-4EE9-8E72-1B7005915ABA</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:58:25Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectOnScreenWithName("{origin:{x:0.00,y:0.00}, size:{height:667.00,width:375.00}}", UIScreen, "All Done!.png")</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:58:26Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>All Done!.png</string>
			<key>Screenshot</key>
			<string>FB31D32C-273B-40D9-8B41-A321555F3D2A</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:58:27Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()["OK"].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:58:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:58:29Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0].scrollToVisible()</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:58:29Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] - scrollToVisible cannot be used on the element because it does not have a scrollable ancestor.</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:58:29Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] - scrollToVisible cannot be used on the element because it does not have a scrollable ancestor.</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:58:29Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] could not be tapped because the element is not visible</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:58:29Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Jokes"].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:58:29Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Tell Me More!"].tapWithOptions({tapCount:"151"})</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:58:30Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectOnScreenWithName("{origin:{x:0.00,y:0.00}, size:{height:667.00,width:375.00}}", UIScreen, "JokesAlert.png")</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:59:01Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>JokesAlert.png</string>
			<key>Screenshot</key>
			<string>AD8BC184-023E-4FE8-999C-596604142CE6</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:59:02Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectOnScreenWithName("{origin:{x:0.00,y:0.00}, size:{height:667.00,width:375.00}}", UIScreen, "All Done!.png")</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:59:03Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>All Done!.png</string>
			<key>Screenshot</key>
			<string>21B54036-EC7A-4B34-A249-71EAF8B9D86E</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:59:03Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()["OK"].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:59:05Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:59:05Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0].scrollToVisible()</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:59:05Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] - scrollToVisible cannot be used on the element because it does not have a scrollable ancestor.</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:59:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] - scrollToVisible cannot be used on the element because it does not have a scrollable ancestor.</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:59:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] could not be tapped because the element is not visible</string>
			<key>Timestamp</key>
			<date>2015-07-11T16:59:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
