<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Jokes"].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:52:12Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Tell Me More!"].tapWithOptions({tapCount:"151"})</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:52:13Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectOnScreenWithName("{origin:{x:0.00,y:0.00}, size:{height:667.00,width:375.00}}", UIScreen, "JokesAlert.png")</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:52:44Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>JokesAlert.png</string>
			<key>Screenshot</key>
			<string>75EA295E-F126-43B8-A380-C6E72C1DA033</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:52:44Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectOnScreenWithName("{origin:{x:0.00,y:0.00}, size:{height:667.00,width:375.00}}", UIScreen, "Ooops!.png")</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:52:45Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>Ooops!.png</string>
			<key>Screenshot</key>
			<string>691F4488-DE8F-4B5B-ACF8-7DE9932CFDF2</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:52:45Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()["OK"].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:52:47Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:52:47Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0].scrollToVisible()</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:52:47Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] - scrollToVisible cannot be used on the element because it does not have a scrollable ancestor.</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:52:48Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] - scrollToVisible cannot be used on the element because it does not have a scrollable ancestor.</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:52:48Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] could not be tapped because the element is not visible</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:52:48Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Random Facts"].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:52:48Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Tell Me More!"].tapWithOptions({tapCount:"306"})</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:52:48Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectOnScreenWithName("{origin:{x:0.00,y:0.00}, size:{height:667.00,width:375.00}}", UIScreen, "RandomFactsAlert.png")</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:53:52Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>RandomFactsAlert.png</string>
			<key>Screenshot</key>
			<string>BBE4E294-97A8-4D2E-8073-344ABABF39AB</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:53:52Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectOnScreenWithName("{origin:{x:0.00,y:0.00}, size:{height:667.00,width:375.00}}", UIScreen, "All Done!.png")</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:53:53Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>All Done!.png</string>
			<key>Screenshot</key>
			<string>1F35037E-9146-491C-9915-2809DC1D10E5</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:53:53Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()["OK"].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:53:55Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:53:55Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0].scrollToVisible()</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:53:55Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] - scrollToVisible cannot be used on the element because it does not have a scrollable ancestor.</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:53:56Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] - scrollToVisible cannot be used on the element because it does not have a scrollable ancestor.</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:53:56Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] could not be tapped because the element is not visible</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:53:56Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
