<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>paths</key>
	<array>
		<string>run26/core/uniquing</string>
		<string>run13/core/core-config</string>
		<string>run8/core/table-manager</string>
		<string>run25/core/uniquing</string>
		<string>run7/core/core-config</string>
		<string>run24/core/core-config</string>
		<string>run21/core/table-manager</string>
		<string>run5/core/table-manager</string>
		<string>run19/core/core-config</string>
		<string>run7/core/table-manager</string>
		<string>run14/core/core-config</string>
		<string>run11/core/uniquing</string>
		<string>run9/core/table-manager</string>
		<string>run25/core/core-config</string>
		<string>run4/core/table-manager</string>
		<string>run17/core/table-manager</string>
		<string>run6/core/table-manager</string>
		<string>run19/core/uniquing</string>
		<string>run19/core/table-manager</string>
		<string>run8/core/uniquing</string>
		<string>run1/core/table-manager</string>
		<string>run3/core/table-manager</string>
		<string>run2/core/uniquing</string>
		<string>run4/core/uniquing</string>
		<string>run24/core/uniquing</string>
		<string>run6/core/uniquing</string>
		<string>run13/core/table-manager</string>
		<string>run4/core/core-config</string>
		<string>run15/core/table-manager</string>
		<string>run10/core/uniquing</string>
		<string>run2/core/table-manager</string>
		<string>run20/core/core-config</string>
		<string>run1/core/core-config</string>
		<string>run8/core/core-config</string>
		<string>run15/core/core-config</string>
		<string>run18/core/uniquing</string>
		<string>run11/core/table-manager</string>
		<string>run26/core/core-config</string>
		<string>run23/core/uniquing</string>
		<string>run26/core/table-manager</string>
		<string>run28/core/table-manager</string>
		<string>run22/core/uniquing</string>
		<string>run22/core/table-manager</string>
		<string>run27/core/core-config</string>
		<string>run10/core/core-config</string>
		<string>run24/core/table-manager</string>
		<string>run17/core/uniquing</string>
		<string>run21/core/core-config</string>
		<string>run5/core/core-config</string>
		<string>run16/core/uniquing</string>
		<string>run16/core/core-config</string>
		<string>run20/core/table-manager</string>
		<string>run21/core/uniquing</string>
		<string>run20/core/uniquing</string>
		<string>run22/core/core-config</string>
		<string>run29/core/uniquing</string>
		<string>run17/core/core-config</string>
		<string>currentRun/core/uniquing</string>
		<string>run18/core/table-manager</string>
		<string>run28/core/core-config</string>
		<string>run9/core/uniquing</string>
		<string>run15/core/uniquing</string>
		<string>run5/core/uniquing</string>
		<string>run2/core/core-config</string>
		<string>run9/core/core-config</string>
		<string>run7/core/uniquing</string>
		<string>run1/core/uniquing</string>
		<string>run14/core/uniquing</string>
		<string>run3/core/uniquing</string>
		<string>run11/core/core-config</string>
		<string>run14/core/table-manager</string>
		<string>run29/core/table-manager</string>
		<string>run16/core/table-manager</string>
		<string>run6/core/core-config</string>
		<string>run12/core/core-config</string>
		<string>run28/core/uniquing</string>
		<string>run23/core/core-config</string>
		<string>run27/core/uniquing</string>
		<string>run10/core/table-manager</string>
		<string>run12/core/table-manager</string>
		<string>run18/core/core-config</string>
		<string>run27/core/table-manager</string>
		<string>run13/core/uniquing</string>
		<string>run29/core/core-config</string>
		<string>run12/core/uniquing</string>
		<string>run23/core/table-manager</string>
		<string>run3/core/core-config</string>
		<string>run25/core/table-manager</string>
	</array>
</dict>
</plist>
