<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Engineering Memes"].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-09T12:54:53Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Tell Me More!"].tapWithOptions({tapCount:"51"})</string>
			<key>Timestamp</key>
			<date>2015-07-09T12:54:53Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectOnScreenWithName("{origin:{x:0.00,y:0.00}, size:{height:667.00,width:375.00}}", UIScreen, "EngineeringMemesAlert.png")</string>
			<key>Timestamp</key>
			<date>2015-07-09T12:55:04Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>EngineeringMemesAlert.png</string>
			<key>Screenshot</key>
			<string>0C14C66C-4151-4611-A513-F1443E5D6EE7</string>
			<key>Timestamp</key>
			<date>2015-07-09T12:55:04Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-09T12:55:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().toolbar().buttons()["Home"].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-09T12:55:09Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Stem Facts"].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-09T12:55:10Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Tell Me More!"].tapWithOptions({tapCount:"151"})</string>
			<key>Timestamp</key>
			<date>2015-07-09T12:55:10Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectOnScreenWithName("{origin:{x:0.00,y:0.00}, size:{height:667.00,width:375.00}}", UIScreen, "StemFactsAlert.png")</string>
			<key>Timestamp</key>
			<date>2015-07-09T12:55:42Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>StemFactsAlert.png</string>
			<key>Screenshot</key>
			<string>5285D3AE-F488-43CD-8478-FD794A3A0A82</string>
			<key>Timestamp</key>
			<date>2015-07-09T12:55:42Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-09T12:55:43Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().toolbar().buttons()["Home"].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-09T12:55:47Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Random Facts"].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-09T12:55:47Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Tell Me More!"].tapWithOptions({tapCount:"306"})</string>
			<key>Timestamp</key>
			<date>2015-07-09T12:55:48Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectOnScreenWithName("{origin:{x:0.00,y:0.00}, size:{height:667.00,width:375.00}}", UIScreen, "RandomFactsAlert.png")</string>
			<key>Timestamp</key>
			<date>2015-07-09T12:56:51Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>RandomFactsAlert.png</string>
			<key>Screenshot</key>
			<string>49550262-FB03-4FF4-BB8B-0340F50827E6</string>
			<key>Timestamp</key>
			<date>2015-07-09T12:56:51Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-09T12:56:52Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
