<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Stem Facts"].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:12:38Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Tell Me More!"].tapWithOptions({tapCount:"151"})</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:12:38Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectOnScreenWithName("{origin:{x:0.00,y:0.00}, size:{height:667.00,width:375.00}}", UIScreen, "StemFactsAlert.png")</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:13:09Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>StemFactsAlert.png</string>
			<key>Screenshot</key>
			<string>397A36B9-4096-487C-A647-F0B3FD75EA45</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:13:10Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()["OK"].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:13:11Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:13:11Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0].scrollToVisible()</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:13:11Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] - scrollToVisible cannot be used on the element because it does not have a scrollable ancestor.</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:13:12Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] - scrollToVisible cannot be used on the element because it does not have a scrollable ancestor.</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:13:12Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] could not be tapped because the element is not visible</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:13:12Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Engineering Memes"].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:13:12Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Tell Me More!"].tapWithOptions({tapCount:"51"})</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:13:12Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectOnScreenWithName("{origin:{x:0.00,y:0.00}, size:{height:667.00,width:375.00}}", UIScreen, "EngineeringMemesAlert.png")</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:13:23Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>EngineeringMemesAlert.png</string>
			<key>Screenshot</key>
			<string>EC4826C6-94CA-4B66-BA69-CA2D38A995E7</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:13:23Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()["OK"].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:13:25Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:13:25Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0].scrollToVisible()</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:13:25Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] - scrollToVisible cannot be used on the element because it does not have a scrollable ancestor.</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:13:25Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] - scrollToVisible cannot be used on the element because it does not have a scrollable ancestor.</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:13:25Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().alert().buttons()[0] could not be tapped because the element is not visible</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:13:25Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Jokes"].tap()</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:13:25Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()["Tell Me More!"].tapWithOptions({tapCount:"151"})</string>
			<key>Timestamp</key>
			<date>2015-07-09T14:13:26Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
